<appSettings>
    <add key="ProductHeader" value="Cogenix" />
    <add key="RepoOwnerName" value="Cogenix" />

    <!--<add key="RepoName" value="Adobe-CSP" />
    <add key="RepoPath" value="sprocs" />
    <add key="SubDirectories" value="sprocs, views, udfs" />
    <add key="FileExtensions" value=".sql,.prc,.udf" />
    <add key="IgnoredFilePattern" value="DML_inst*.sql, dmlscript.*, prodtostagerestore.sql" />
    <add key="DirectorySortOrder" value="views" />    
    -->
    
    
    <add key="RepoName" value="Adobe-CBC" />
    <add key="RepoPath" value="" />
    <add key="SubDirectories" value="Change Scripts, Synonyms, Views, Functions, StoredProcedures" />
    <add key="FileExtensions" value=".sql,.prc,.udf" />
    <add key="IgnoredFilePattern" value="dmlscript.*, prodtostagerestore.sql" />
    <add key="DirectorySortOrder" value="Scripts, views" />


    <add key="TruncateOutputFiles" value="false" />
    <add key="SearchFromDate" value="10/1/2021" />
    <add key="SearchToDate" value="" />
    <add key="OutputFileName" value="GitSQL.txt" />
    <add key="FileSearchPattern" value="" />
    <add key="OutputDirectory" value="" />
</appSettings>